.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--ds-space-avatar-size);
  height: var(--ds-space-avatar-size);
  font-size: var(--ds-text-avatar-initial-font-size);
  font-family: var(--ds-text-avatar-initial-font-family);
  font-weight: var(--ds-text-avatar-initial-font-weight);
  background-color: var(--ds-color-avatar-background);
  color: var(--ds-color-avatar-text);
  border-radius: var(--ds-radius-md);
  line-height: 1;
  user-select: none;
}
