.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--ds-space-sidebar-padding-y)
    var(--ds-space-layout-content-padding-x);
  border-top: 1px solid var(--ds-color-border-default);
  font-size: var(--ds-text-micro-meta-font-size);
  font-family: var(--ds-text-micro-meta-font-family);
  font-weight: var(--ds-text-micro-meta-font-weight);
  letter-spacing: var(--ds-text-micro-meta-letter-spacing);
  text-transform: var(--ds-text-micro-meta-text-transform);
  line-height: var(--ds-text-micro-meta-line-height);
  color: var(--ds-color-text-secondary);
}

.left {
  display: flex;
  align-items: center;
  gap: var(--ds-space-scale-md);
}

.right {
  display: flex;
  align-items: center;
  gap: var(--ds-space-scale-xl);
}

.right a {
  color: inherit;
  text-decoration: none;
  transition-property: var(--ds-transition-property);
  transition-duration: var(--ds-transition-duration);
  transition-timing-function: var(--ds-transition-timing-function);
}

.right a:hover {
  color: var(--ds-color-text-primary);
}
