.sectionHeader {
  font-size: var(--ds-text-section-header-font-size);
  font-family: var(--ds-text-section-header-font-family);
  font-weight: var(--ds-text-section-header-font-weight);
  letter-spacing: var(--ds-text-section-header-letter-spacing);
  text-transform: var(--ds-text-section-header-text-transform);
  line-height: var(--ds-text-section-header-line-height);
  color: var(--ds-color-text-secondary);
  margin: 0;
  padding: 0;
}
